@page
@model BuildNRun.Pages.AppModel
@{
    ViewData["Title"] = "App";
}
@section head {
    @{
    }
}

<div id="root">loading...</div>

@section Scripts {
    <script type='text/javascript' src='/js/bundle.js'></script>
}

<!--
<div id='printoutPanel'></div>
<script type='text/javascript'>
    var map;
    function loadMapScenario() {
        map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
    }
</script>

<div id='myMap' style='width: 100vw; height: 100vh;'></div>

<script type='text/javascript'>
    loadMapScenario();
</script>
-->
