@page
@model BuildNRun.Pages.AppModel
@{
    ViewData["Title"] = "BuildNRun App";
    var (showBanner, consentCookie, userName) = BuildNRun.Service.CookieConsentService.GetCookieShowBanner(this.HttpContext);
}
@section head {
    @{
        if (showBanner) {
            <!--  -->
        } else {
            <link rel="manifest" href="/manifest.webmanifest">
        }
    }

}
@{
    if (showBanner) {
        <div>Bitte erlaube Cookies und anmelden.</div>
    } else {
        <div id="root">loading...</div>
    }
}

@section Scripts {
    @{
        if (showBanner) {
            <!--  -->
        } else {
            <script type='text/javascript'>
                function getBuildNRunConfig() {
                    return {
                        bingMapUrl: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.BingMapUrl)),
                        bingMapCredentials: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.BingMapCredentials))
                    };
                }
            </script>
            <script type='text/javascript' src="@(this.Model.BingMapUrl)" defer async></script>
            <script type='text/javascript' src="~/vendor.bundle.js"></script>
            <script type='text/javascript' src="~/app.js"></script>
        }
    }
}