@page
@model BuildNRun.Pages.AppModel
@{
    ViewData["Title"] = "App";
    var (showBanner, consentCookie, userName) = BuildNRun.Service.CookieConsentService.GetCookieShowBanner(this.HttpContext);
}
@section head {
    @{
        if (showBanner) {
            <!--  -->
        } else {
            <link rel="manifest" href="/manifest.webmanifest">
        }
    }

}
@{
    if (showBanner) {
        <div>Bitte erlaube Cookies und anmelden.</div>
    } else {
        <div id="root">loading...</div>
    }
}

@section Scripts {
    @{
        if (showBanner) {
            <!--  -->
        } else {
            <script type='text/javascript' src="~/js/vendor.bundle.js"></script>
            <script type='text/javascript' src="~/js/app.js"></script>
            <script type='text/javascript' src="~/js/service-worker.js"></script>
        }
    }
}

<!--

    <script type='text/javascript' src="~/js/app.js" asp-append-version="true"></script>
    <script type='text/javascript' src='/js/app.bundle.js'></script>
<div id='printoutPanel'></div>
<script type='text/javascript'>
    var map;
    function loadMapScenario() {
        map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
    }
</script>

<div id='myMap' style='width: 100vw; height: 100vh;'></div>

<script type='text/javascript'>
    loadMapScenario();
</script>
-->
