@page
@model BuildNRun.Pages.AppOfflineModel
<div id="root">loading...</div>
@section Scripts {
    <script type='text/javascript'>
        function getBuildNRunConfig() {
            return {
                bingMapUrl: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.BingMapUrl)),
                bingMapCredentials: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.BingMapCredentials))
            };
        }
    </script>
    <script type='text/javascript' src="@(this.Model.BingMapUrl)" defer async></script>
    <script type='text/javascript' src="~/vendor.bundle.js"></script>
    <script type='text/javascript' src="~/app.js"></script>

    <!--
        <script type='text/javascript' src="~/service-worker.js"></script>
    -->
}