@page
@model IndexModel
@{
    ViewData["Title"] = "BuildNRun";
}
<div style="margin: 100px auto auto 80px; font-size:36px;">
    BuildNRun
</div>

<div style="margin: 10px auto auto 100px;">
    <a href="/App" style="text-decoration:none;color:black;">
        <img src="~/favicon144.png" /><br />
    </a>
</div>

<div style="margin: 10px auto auto 80px;">
    <a href="/App" style="text-decoration:none;color:black;">
        Lose geht's.
    </a>
</div>

<div style="margin: 40px auto auto 100px;">
    <a href="/App" style="text-decoration:none;color:black;">
        Dies ist ein Schülerprojekt für first lego league.<br />
    </a>
</div>

