@page
@model IndexModel
@{
    ViewData["Title"] = "BuildNRun";
}

<div>
    <h1>Hallo</h1>
    <p>
        Dies ist ein Schülerprojekt für first lego league.
    </p>
    <p>
        TBD
    </p>
    <p>
        <a href="/app">Lose geht's.</a>
    </p>
</div>
