@page
@model BuildNRun.Pages.PlanRouteModel
@{
    ViewData["Title"] = "Plane";
}
@section head {
    @{
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AmyGeNkzX6tFlGE0bwaRsfrwARVEuyxO_ny8FMWnwgdIVuYN0wSdPmEpzLycbEwk'></script>
        <script type='text/javascript'>

            var map;
            function loadMapScenario() {
                const eleRoot = document.getElementById('root');
                map = new Microsoft.Maps.Map(eleRoot, {
                    mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                    zoom: 10
                });
            }
        </script>
    }
}

<div id="root" style='width: 100vw; height: 80vh;'>loading...</div>

<!--
<div id='printoutPanel'></div>
-->

@section Scripts {
    <script type='text/javascript'>
        window.addEventListener('load', () => {
            loadMapScenario();
        });
    </script>
    <!--
        <script type='text/javascript' src="~/vendor.bundle.js"></script>
        <script type='text/javascript' src="~/app.js"></script>
    -->
}