@page
@model BuildNRun.Pages.UserInformationModel
@{
    ViewData["Title"] = "Benutzer";
}
@{
    if((true == this.HttpContext.User?.Identity?.IsAuthenticated)) {
        <div>
            <div>@(this.HttpContext.User?.Identity?.Name)</div>
        </div>
    } else {
        <div>
            Nicht angemeldet.
        </div>
    }
}
<a href="/">Zurück</a>