html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

    body > div#header {
        background-color: black;
        color: white;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 30px;
        position: absolute;
        border-bottom-color:white;
        border-bottom-style:solid;
        border-bottom-width:1px;
    }

        body > div#header a,
        body > div#header a:active,
        body > div#header a:hover,
        body > div#header a:link,
        body > div#header a:visited {
            color: white
        }

        body > div#header > #title {
            padding: 4px 2px 2px 2px;
            height: 26px;
            display: inline-block;
            vertical-align: baseline;
        }

        body > div#header > #user {
            margin-left: auto;
            margin-right: 0;
            position: absolute;
            right: 10px;
            padding: 2px;
            height: 26px;
            display: inline-block;
            vertical-align:baseline;
        }
            body > div#header a {
                text-decoration: none;
            }
    body > div#content {
        background-color: white;
        margin: 0;
        padding: 0;
        width: 100vw;
        position: absolute;
        top: 30px;
        bottom: 0;
    }

    div.page,
    div.root {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: calc(100vh - 30px);
    }
    div.pageSection,
    div.pageSectionTop,
    div.pageSectionContent,
    div.pageSectionButton{
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    div.pageSectionTop{
        height: 100px;
    }

    div.pageSectionContent{
        height: calc(100vh - 230px);
    }

    div.pageSectionButton{
        height: 100px;
    }
