html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

    body > div#header {
        background-color: black;
        color: green;
        margin: 0;
        padding: 2px;
        width: 100%;
        height: 24px;
        position: absolute;
    }

        body > div#header > #title {
        }

        body > div#header > #user {
            margin-left:auto;
            margin-right:0;
            position:absolute;
            right:0;
        }

    body > div#content {
        background-color: yellow;
        margin: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        top: 24px;
        bottom: 0;
    }
